* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.logo {
    width: 8%;
    float: left;
    margin-left: 1%;
    margin-bottom: -100px;
}

/* Menu */

@media screen and (min-width: 992px) {
    
    .menu_checkbox {
        display: none; /* hidding the chechbox */
    }

    nav {
        margin-top: 1%;
        margin-right: 1%;
    }

    #menu a {
        text-decoration: none;
        color: white;
    }

    nav ul li {
        display: inline;
        /* putting all the list elements in the same line */
        padding: 10px;
        font-size: 120%;
    }

    nav ul {
        display: flex;
        /* setting display: flex */
        justify-content: flex-end;
        /* after that flex-end: items are packed toward to end line */
    }

    /* hover effect changing the color */
    #menu li:hover {
        color: gray;
        transition: 0.5s ease;
    }
    /* underline effect */ 
    .menu_underline {
        border-bottom: 2px solid white;
    }
    
    
    .gallery_1 {
        width: 30%;
    }
}



@media screen and (max-width: 992px) {
    /* Logo */
    .logo {
        display: none;
    }

    /* Burger Menu */
    #menuToggle {
        display: block;
        position: relative;
        top: 3vh;
        left: 5vw;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 35px;
        position: absolute;
        top: -5px;
        left: -4px;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    #menuToggle span {
        display: block;
        width: 30px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: white;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span {
        transform: rotate(45deg);
        background: black;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg);
    }

    #menu {
        position: absolute;
        width: 120%;
        margin: -100px 0 0px -50px;
        padding: 50px;
        padding-top: 125px;
        background-color: white;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        font-size: 1.5em;
        color: black;
    }

    #menu li:hover {
        color: gray;
        transition: 0.5s ease;
    }

    #menu a {
        text-decoration: none;
        text-align: left;
    }

    #menuToggle input:checked ~ ul {
        transform: none;
    }

    /*Gallery_1*/
    .gallery_1 {
        width: 100%;
        height: auto;
        padding: 5%;
    }

    header h1 {
        margin-top: 15vh;
    }


}

/* Index */

header {
    color: white;
    text-align: center;
}

header h1 {
    margin-top: 10vh;
    margin-bottom: 1vh;
    font-size: 2.5em;
    font-family: 'Gruppo', cursive;
    letter-spacing: 10px;
    text-transform: uppercase;
}

header h2 {
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 1.5em;
    font-family: 'Gruppo', cursive;
    letter-spacing: 3px;
}


#menuToggle img {
    width: 20%;
    height: auto;
}

.container {
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.video-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.video-wrapper iframe {
    width: 100%;
}

footer {
    color: white;
    font-size: 0.9em;
    text-align: center;
    margin-top: 2em;
}

#insta-link {
    color: white;
    text-align: center;
    border: 1px solid white;
    margin: 0;
    padding: 0.1em 0.7em 0.1em 0.7em;
    text-decoration: none;
}

#insta-button {
    display: flex;
    justify-content: center;
    margin: 2em;
}

/* About */

.about {
    padding: 5%;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
}

.img_about {
    padding-bottom: 5%;
    width: 100%;
    height: auto;
}


/* Portfolio */

.wrapper-title {
    color: white;
    text-align: center;
    font-size: 2em;
    margin: 1em;
}

.parallax {
    /* The image used */
    background-image: url("../img/self-portraits/PicsArt_04-17-09.40.06.jpg");

    /* Set a specific height */
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 150px 20px #000000;

    /* Button/text arrangement */
    display: flex;
    justify-content: space-between;
}

.parallax a {
    text-decoration: none;
    color: white;
    padding: 0.4em;
    margin: 1em;
    align-self: flex-end;
    border: 1px solid white;
}

.parallax p {
    text-decoration: none;
    color: white;
    padding: 1em;
    align-self: flex-end;
}

.parallax2 {
    /* The image used */
    background-image: url("../img/gallery_1/IMG_0600.jpg");

    /* Set a specific height */
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 150px 20px #000000;

    /* Button/text arrangement */
    display: flex;
    justify-content: space-between;
}

.parallax2 a {
    text-decoration: none;
    color: white;
    padding: 0.4em;
    margin: 1em;
    align-self: flex-end;
    border: 1px solid white;
}

.parallax2 p {
    text-decoration: none;
    color: white;
    padding: 1em;
    align-self: flex-end;
}

.parallax3 {
    /* The image used */
    background-image: url("../img/series/the_last_elf/IMG_0389.jpg");

    /* Set a specific height */
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 150px 20px #000000;

    /* Button/text arrangement */
    display: flex;
    justify-content: space-between;
}

.parallax3 a {
    text-decoration: none;
    color: white;
    padding: 0.4em;
    margin: 1em;
    align-self: flex-end;
    border: 1px solid white;
}

.parallax3 p {
    text-decoration: none;
    color: white;
    padding: 1em;
    align-self: flex-end;
}